/*Color palette*/
:root {
  /*backgrounds (basic)*/
  --section-background: #EEEEEE;
  --basic-background: #ffffff;
  --button-red: #FB565A;
  --button-yellow: #EFC84A;
  --button-green: #00CA74;
  --button-grey: #EEEEEE;
  --button-sorter: transparent;
  --sorter-text: rgba(0, 0, 0, 0.3);
  --socials-grey: #E1E1E1;
  --item-top-bar: #4D4D4D;
  --border-box: #DBDBDB;

  /*text-basic*/
  --plain-text: #283136;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --address-text: #666666;
  --footer-plain: #444444;

  /*form*/
  --thumb-center: #ABABAB;
  --thumb-shadow: rgba(0, 0, 0, 0.15);
  --thumb-body: #ffffff;
  --range-void: #D7DCDF;
  --range-chosen: #00CA74;
  --form-radio-check: #4D4D4D;

  /*events*/
  --navlink-hover: #FB565A;
  --navlink-focus: rgba(0, 0, 0, 0.3);
  --navlink-active-line: #FB565A;
  --button-red-hover: #E74246;
  --button-red-active: #D7373B;
  --button-yellow-hover: #EAB534;
  --button-yellow-active: #E5A722;
  --button-green-hover: #00BC6C;
  --button-green-active: #00AA62;
  --button-grey-hover: #DFDFDF;
  --button-grey-active: #D5D5D5;

  --button-active-blacktext: rgba(0, 0, 0, 0.3);
  --button-active-whitetext: rgba(255, 255, 255, 0.3);
  --socials-hover-gradient: #E74246;
  --socials-active-gradient: #D7373B;
  --item-name-hover: #FB565A;
  --item-name-plain: rgba(0, 0, 0, 0.3);
  --sorter-text-hover: rgba(0, 0, 0, 0.6);
  --sorter-triangles-plain: #A6A6A6;
  --sorter-triangles-active: #231F20;
  --filter-text-disabled: rgba(0, 0, 0, 0.3);
}

/*hidden objects*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*global*/
body {
  margin: 0;
  padding: 0;
  min-width: 1440px;
  background-color: var(--basic-background);
  line-height: 18px;
  font-weight: normal;
  color: var(--plain-text);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

/*repeated elements*/
.bold {
  font-weight: bold;
}

.divider {
  color: var(--section-background);
  width: 1158px;
  height: 2px;
  text-align: center;
}

/*buttons*/
.button {
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.button:active, .button:focus {
  border: none;
}

.button-red {
  background-color: var(--button-red);
}

.button-red:hover {
  background-color: var(--button-red-hover);
}

.button-red:active {
  background-color: var(--button-red-active);
  color: var(--button-active-whitetext);
}

.button-green {
  background-color: var(--button-green);
}

.button-green:hover {
  background-color: var(--button-green-hover);
}

.button-green:active {
  background-color: var(--button-green-active);
  color: var(--button-active-whitetext);
}

.button-yellow {
  background-color: var(--button-yellow);
}

.button-yellow:hover {
  background-color: var(--button-yellow-hover);
}

.button-yellow:active {
  background-color: var(--button-yellow-active);
  color: var(--button-active-whitetext);
}

.button-grey {
  background-color: var(--button-grey);
  color: var(--basic-black);

}

.button-grey:hover {
  background-color: var(--button-grey-hover);
}

.button-grey:focus {
  color: var(--basic-black);
  background-color: rgba(0, 0, 0, 0.0001);
  border: 3px solid var(--border-box);
  box-sizing: border-box;
}

.button-grey:active {
  background-color: var(--button-grey-active);
  color: var(--button-active-blacktext);
}

.button-sorter {
  background-color: var(--button-sorter);
  color: var(--sorter-text);
  border: none;
  font-size: 14px;
  line-height: 18px;
}

.button-sorter:hover {
  color: var(--sorter-text-hover);
}

.button-sorter:focus, .button-sorter:active  {
  color: var(--basic-black);
}

/*header*/
.main-menu {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  background-color: var(--section-background);
}

.main-menu a:hover {
  color: var(--navlink-hover);
}

.main-menu a:active {
  color: var(--navlink-focus);
}

.visited {
  color: var(--basic-black);
  border-bottom: 2px solid var(--navlink-active-line);
}


.menu-list {
  list-style-type: none;
}

.bucket {
  margin-left: 40px;
}

.bucket:before {
  content: "";
  background-image: url("../img/icons/cart-icon.svg");
  position: absolute;
  left: 0px;
  width: 15px;
  height: 30px;
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}


/*этого значения нет в ТЗ, но лого выцветает*/
.main-header-logo:focus {
  opacity: 0.6;
  background-color: var(--basic-background);
}

/*promo-section*/
.slider {
  background-color: var(--section-background);
  margin-top: 0;
}

.slider-list {
  list-style-type: none;
  margin-top: 0;
}

.slider-item img {
  background-color: var(--section-background);
}

.promo-slogan {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  margin-top: 0;
}

.promo-description {
  font-size: 16px;
  line-height: 24px;
}

.features-list {
  list-style-type: none;
}

.features-item img {
  background-color: var(--section-background);
}

.features-item h3 {
  text-transform: uppercase;
  color: var(--basic-black);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

.features-item p {
  font-size: 16px;
  line-height: 24px;
}

/*About*/
.advantages-description {
  font-size: 16px;
  line-height: 24px;
}

.advantages-slogan {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-advantages h3 {
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.advantages-list {
  list-style-type: none;

}
.advantages-item {
  font-size: 16px;
  line-height: 24px;
  position: relative;
}
.advantages-item:before {
  content: "";
  background-image: url("../img/icons/icon-dash.svg");
  position: absolute;
  left: -32px;
  top: 11px;
  width: 25px;
  height: 2px;
  background-size: 25px 24px;
  background-position: center;
  background-repeat: no-repeat;
}

.about-stats img {
  background-color: var(--section-background);
}

.stats-slogan {
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-black);
  text-align: center;
  text-transform: uppercase;
}

.stats-th {
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.stats-th sup {
  font-size: 26px;
  line-height: 40px;
}

/*Companies*/
.companies-list {
  list-style-type: none;
}

.companies-item a {
  opacity: 0.2;
}

.companies-item a:hover {
  opacity: 1;
}

.companies-item a:focus {
  opacity: 0.1;
}

/*footer*/
.map {
  background-color: var(--section-background);
}

.map-widjet {
  background: url("../img/content/map.jpg") no-repeat;
}

.writeus {
  text-decoration: none;
  background-color: var(--basic-white);
  font-style: normal;
}

.writeus h2 {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.writeus p {
  color: var(--address-text);
}

.socials-list {
  list-style-type: none;
}

.vkontakte {
  background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  background-image: url("../img/icons/icon-vk.svg");
  border-radius: 20px;
  width: 81px;
  height: 81px;
  content:"";
}

.socials-item a:hover {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.socials-item a:active {
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.point {
  background-color: transparent;
}

.socials-slogan {
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.socials-promo {
  font-size: 16px;
  line-height: 22px;
  color: var(--footer-plain);
}



/*Catalog*/

.container h1 {
  background-color: var(--section-background);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
  text-align: center;
  margin-top: 0;
}

/*form*/

.catalog-headlines {
  font-size: 18px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.range-from, .range-to {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.label-from, .label-to {
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.form-radio-list, .form-checkbox-list{
 list-style: none;
}

.radiobutton, .checkbox {
  font-size: 16px;
  line-height: 19px;
}

.radiobutton:disabled + label, .checkbox:disabled + label {
  opacity: 0.3;
}

/*sorter. buttons were stylized with other buttons in the beginning*/
.sorter-list, .item-list {
  list-style-type: none;
}



.item-info-pop {
  width: 360px;
  height: 231px;
  background-color: var(--section-background);
  text-align: center;
  color: var(--basic-black);
  margin-bottom: 0;
  vertical-align: middle;
}

.item-info-pop a:hover {
  color: var(--navlink-hover);
}

.item-info-pop a:active {
  color: var(--navlink-focus);
}

